.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container h3 {
  font-size: 2rem;
  width: 100%;
  max-width: 950px;
}

.main {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
}

.images {
  display: flex;
}

.image {
  height: 620px;
  width: 400px;
  margin: 10px;
}

.image img {
  width: 400px;
  height: 100%;
  pointer-events: none;
}

.slider {
  cursor: grab;
  overflow: hidden;
}


/* Mobile */
@media (max-width: 700px) {
  .main {
    max-width: 90%;
  }

  .image {
    height: 400px;
    width: 250px;
    margin: 10px;
  }

  .image img {
    width: 250px;
    height: 100%;
    pointer-events: none;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    max-width: 90%;
  }

  .image {
    height: 400px;
    width: 250px;
    margin: 10px;
  }

  .image img {
    width: 250px;
    height: 100%;
    pointer-events: none;
  }
}
